
.sale{
    height: 7rem;
    width: 100%;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sale-text{
    color: var(--black);
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.sale-close{
    position: absolute;
    font-size: 2.5rem;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.home-container{
    min-height: 100vh;
    padding: 2rem;
    margin-top: 1rem;
}

.home-search-box{
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
}

.home-search, .home-search-btn{
    padding: 1rem;
    border: none;
}

.home-search, .home-search:active{
    background: buttonface;
    outline: none;
}

.home-search:focus{
    outline: none;
}


.home-search:placeholder-shown{
    font-family: 'Open Sans';
}

.home-search-btn{
    background: var(--green);
    outline: none;
    transition: all .2s;
    cursor: pointer;
}
.home-search-btn:hover, .home-search-btn:focus, .home-search-btn:active{
    background: var(--green-dark);
    outline: none;
}

@media (min-width:725px){
    main{
        margin-top: 9rem;
        padding-top: 4rem;
    }
    .sale{
        transform: translateY(-4rem);;
    }
}