.product-recommendation{
    display: flex;
    width: 100%;
    max-width: 120rem;
    margin: 1rem auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-title-sub{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.card-container-flex{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 1rem;
    margin: 2rem auto;
}

.card{
    height: 23rem;
    flex-basis: 47%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    text-decoration: none;
    gap: .25rem;
    padding: 1rem .5rem;
    transition: all .3s;
}

.card:hover{
    transform: scale(1.02);
    background: var(--white-shadow);
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.card-img-box{
    /* height: inherit; */
    grid-row: 1/1;
}

.card-img{
    display: block;
    height: 11rem;
    width: 12rem;
    margin: 0 auto;
    object-fit: cover;
    clip-path: circle(50%);
}

.card-title{
    grid-row: 2/2;
    font-size: 1.25rem;
    color: var(--black);
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    display: block;
}
.single-line{
    grid-row: 3/3;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}
.card-price{
    color: red;
    font-size: 1.25rem;
    font-weight: bold;
    font-style: italic;
}
.cancel{
    color: black;
    padding: .25rem;
    text-decoration: line-through;
}
@media (min-width:650px){
    .card{
        flex-basis: 31%;
    }
    .card:nth-child(odd){
        background-color: var(--white-shadow-light);
    }
}
@media (min-width:950px){
    .card{
        flex-basis: 23%;
    }
    .card:nth-child(odd){
        background-color: transparent;
    }
}
@media (min-width:1150px){
    .card{
        flex-basis: 18%;
    }
    .card:nth-child(odd){
        background-color: var(--white-shadow-light);
    }
}