@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap');

:root{
  --black: black;
  --white: white;
  --muted: #A4A4A4;
  --green: #4ED758;
  --white-shadow: #fafafa;
  --black-shadow: #222222;
}

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Roboto';
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}



/* "Source Sans Pro","HelveticaNeue","Helvetica Neue",sans-serif; */